body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a6396d;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    padding: 2.5rem 3rem;
}

h2 {
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 0.2px solid #c3c4c3;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 1px 2px #c3c4c3;
}

.reset:focus {
    border: none;
    box-shadow: none;
    transition: 0.25s;
}

.game {
    width: 28rem;
    height: 28rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    transform-style: preserve-3d;
    perspective: 31rem;
    align-items: center;
    justify-content: center;
}

.item {
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    font-size: 3em;
    transform: rotateY(180 deg);
    transition: 0.25s;
}

.item::after {
    content: "";
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    inset: 0;
    background-color: #575753;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item .boxOpen {
    transform: rotateY('0deg');
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
    transition: 0.25s;
}